* {  
  font-family: "Open Sans", sans-serif;
}
img {  
  max-width: 100%;
  height: auto;
}
body{
  background-color: #EFF3F4;
  margin: 0;
}
hr {
  margin-bottom: 0;
}
/*-------------------------header------------------------*/
.head-main {
  background-image: url('https://boomerdigital.net/images/nyc2.jpg');
}
/*-------------------------header------------------------*/

/*-------------------------nav------------------------*/
.navbar {
  list-style: none;
  margin: 0;   
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.navbar a{
  text-decoration: none;
  display: block;
  text-align: center; 
  padding: 10px;
  color: black;
}

.navbar a:hover{
  color: #7CA5AB;
}

/*-------------------------nav------------------------*/


/*------------------------logo------------------------*/
.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 15%;
}
.logo img{
  margin: auto;
}
/*------------------------logo------------------------*/



/*---------------------tols-list----------------------*/
.tols-list{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 22px;
  text-align: center;
}

.tols-list a{
  text-decoration: none;
  color: white;
}

.tols-list i{
  font-size: 55px;
  padding-bottom: 15px;
}

.tols-list li{
  word-wrap: break-word;
  height: 110px;
  background-color: #7CA5AB;
  padding: 20px;
  width: 100%;
}
.tols-list li:hover{
  background-color: #4F4D57;
}


@media all and (max-width: 730px) {
  .tols-list{
    flex-flow: column;
  }
}

/*---------------------tols-list----------------------*/

/*---------------------descript-----------------------*/
.descript {
  display: flex;
  justify-content: center;
}
.text {
  display: block;
  margin: auto;
  width: 75%;
  text-align: center;
  font-size: 1.5rem;  
}

@media all and (max-width: 600px) {
  .text{
    font-size: 1.3rem;  
  }
}
/*---------------------descript-----------------------*/

/*--------------------menu-cards----------------------*/
.menu-cards {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style: none; 
  padding: 0;
}

.menu-cards li{
  word-wrap: break-word;
  width: 100%;
}

.card img {
  position: relative;
  z-index: 100;
}

.card img:hover {
  z-index: 90;
}

.containrer-card{
  position: relative;
}

span.info-card {
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: background-color 1s;
  z-index: 99;
  color: white;
  text-align: center;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 15%;

}

span.info-card:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

span.info-card h4{
  line-height: 1.4;  
  font-family: 'Oswald', sans-serif;
}

.info-card a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 17px !important;
}
.info-card a:hover{
  background-color: white;
  color: black !important;
}

@media all and (max-width: 530px) {
  .menu-cards{
    flex-flow: column;
  }
  span.info-card {
    padding-top: 0% ;
    font-size: 37px;
  }
  span.info-card h4{
    margin: 12% 0 20px 0;
  }
}

@media all and (max-width: 610px) {
  span.info-card {
    padding-top: 5%;
  }
}
/*--------------------menu-cards----------------------*/

/*-----------------------prom-------------------------*/
.prom {
  padding: 0;
  margin: 0;
  display: flex;
}

.prom > * {
  flex: 1 100%;
}

.prom img {
  filter: grayscale(100%);
}

.prom .item-2 {
  padding-top: 4px;
}

/*-----------------------prom-------------------------*/

/*---------------------see-more-----------------------*/
.see-more{
  display: flex;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
  justify-content: center;
}

.see-more button{
  font-size: 13px;
  margin-left: 30px;
  color: white;
  text-align: center;
  padding: 10PX 17px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #674D74;
  border: 1px solid #674D74;
  cursor: pointer;
}
/*---------------------see-more-----------------------*/

/*---------------------logos-----------------------*/
.half-logo {
  background-color: white;
}

.logos {
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  width: 50%;
  margin: 0 auto;
}

.half1 {
  width: 32%;
  margin: 5px 7%;
}

.half2 {
  width: 32%;
  margin: 10% 7% 5px 7%;
}

/*---------------------logos-----------------------*/


/*---------------------desctipt-----------------------*/
.descript {
  width: 60%;
  font-size: 24px;
  font-weight: 300;
  margin: 10px auto;
  text-align: center;
  font-size: 1.5rem;
}

@media only screen and (max-width: 700px) {
  .descript {
    font-size: 20px !important;
  }
}
.descript p {
    margin-bottom: 1.25rem;
}

.descript h4 {
  color: #7CA5AB;
}

.cards-contact{
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 30px;
}

.contact-box {
  word-wrap: break-word;  
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 35%;
  margin: 0 auto;
  padding: 15px 0px;
  text-align: center;
}


@media only screen and (max-width: 830px) {
  .contact-box {
    font-size: 12px !important;
  }

}

@media only screen and (max-width: 580px) {
  .contact-box {
    font-size: 8px !important;
  }

}

.contact-box i{
  color: #7CA5AB;
}
/*---------------------desctipt-----------------------*/


footer {
  display: flex;
  background-color: white;
  padding-top: 5px;
}

footer p{
  margin-top: 0;
  margin-left: 15px;
  width: 50%;
  float: left;
}
.text-footer {
  flex: 2 100%;
}
.listas-contact {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  padding-bottom: 10px;
  float: right;
}

@media only screen and (max-width: 870px) {
  .listas-contact {
  }
}

#menu-contact{
    color: #222;
    font-size: 20px;
    width: 100%;
}

#menu-contact li a {
    text-decoration: none;
    font-size: 24px;
    color: gray;
}
#menu-contact li a:hover {
    color: #7CA5AB;
}

ul.menu-opciones-contact {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul.menu-opciones-contact li {
  float: left;
  width: 8%;
  padding-left: 12%;
}

li.cont {
  word-wrap: break-word;  
}